:root {
  --gray: #212124;
  --green: #009660;
  --white: #e9e9e9;
  --black: #0c0c0c;
  --lgray: #929292;
}

@font-face {
  font-family: neu;
  src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}

@font-face {
  font-family: hell;
  src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}

@font-face {
  font-family: hellb;
  src: url(./HelveticaNowDisplay-Bold_VMHV5twUMR.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--black);
}

.green {
  color: var(--green);
}

.lgray {
  color: var(--lgray);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 15px 70px;
  position: fixed;
  width: 100%;
}

.nav1 {
  display: flex;
  align-items: center;
  /* justify-self: center; */
  gap: 18px;
}

.nav1 h4 {
  font-family: neu;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 100;
}

.nav1 h6 {
  font-size: 17px;
  width: 50px;
}

.nav1 img {
  height: 45px;
}

.nav2 {
  display: flex;
  align-items: center;
  gap: 70px;
}

.nav2 h4 {
  font-family: neu;
  font-size: 16px;
  font-weight: 100;
}

.nav2 h4 i {
  font-size: 20px;
}

.nav2 img {
  height: 30px;
  border-radius: 50%;
  width: 30px;
}

.nav2 h5 {
  font-size: 20px;
  display: none;
}

.nav3 {
  display: none;
  align-items: center;
  gap: 30px;
}

.nav3 h4 {
  font-family: neu;
  font-size: 16px;
  font-weight: 100;
}

.nav3 img {
  height: 30px;
  border-radius: 50%;
  width: 30px;
}

@media (max-width: 600px) {
  nav {
    padding: 10px 25px;
  }
  .nav1 img {
    height: 35px;
  }

  .nav1 h4 {
    font-size: 12px;
  }

  .nav2 {
    display: none;
  }

  .nav3 {
    display: flex;
  }
}

main {
  padding-top: 100px;
}

.section1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 70px;
  font-family: hell;
}

.section1 .left {
  width: 42%;
}

.section1 .left h1 {
  font-size: 48px;
}

.section1 .left .tags {
  display: flex;
  align-items: center;
  gap: 5px 5px;
  flex-wrap: wrap;
  margin: 30px 0;
}

.left .price {
  font-size: 35px;
}

.left .price .lgray {
  font-size: 20px;
  font-weight: 800;
}

.section1 .left .tags h4 {
  padding: 10px 20px;
  border-radius: 4px;
  white-space: nowrap;

  background-color: var(--gray);
}

.section1 .left .cta {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.cta button {
  background: var(--green);
  padding: 20px 60px;

  border-radius: 5px;
  border: none;
  font-size: 20px;
}

.cta button:nth-child(2) {
  background-color: var(--gray);
}

.section1 .right .right-in {
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
}

.section1 .right .right-in .image {
  width: 100%;
  height: 350px;
}

.section1 .right .right-in .image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.section1 .right .right-in .image-bottom {
  padding: 20px;
  padding-top: 40px;
  background-color: var(--gray);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.right-in .image-bottom h4 {
  background-color: #151515;
  padding: 10px 15px;
  width: 45%;
  border-radius: 5px;
}

@media (max-width: 1400px) {
  .section1 .left h1 {
    font-size: 3.5vw;
  }
}

@media (max-width: 800px) {
  main {
    padding-top: 10vw;
  }
  .section1 {
    flex-direction: column-reverse;
    padding: 15px 5vw;
  }
  .section1 .left {
    width: 100%;
    margin-top: 30px;
  }

  .section1 .left h1 {
    font-size: 33px;
  }

  .section1 .right .right-in {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
  }
  .section1 .right .right-in .image {
    width: 100%;
    height: 50vw;
  }

  .section1 .right .right-in .image-bottom {
    padding: 10px;
    padding-top: 20px;
    gap: 8px;
  }

  .right-in .image-bottom h4 {
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 2.5vw;
    -webkit-border-before-width: 45%;
  }

  .left .price {
    font-size: 5vw;
  }

  .left .price .lgray {
    font-size: 3vw;
    font-weight: 800;
  }

  .section1 .left .tags h4 {
    padding: 7px 15px;
    border-radius: 4px;
    white-space: nowrap;

    background-color: var(--gray);
  }

  .section1 .left .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
  }

  .cta button {
    background: var(--green);
    padding: 15px 0;
    width: 50%;
    border-radius: 5px;
    border: none;
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .section1 .left h1 {
    font-size: 5vw;
  }
}

.section2 {
  padding: 100px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section2 h1 {
  font-family: hellb;
  font-size: 150px;
  background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/mask%20Large_ZB4lGN8hWZ.png);
  background-size: cover;
  background-clip: text;
  position: relative;
  color: transparent;
}

.section2 h1.bloom {
  position: absolute;
  filter: blur(80px);
}

.section2 h3 {
  font-size: 45px;
  font-family: hell;
  text-transform: capitalize;
}

@media (max-width: 900px) {
  .section2 h1 {
    white-space: nowrap;
    font-size: 15vw;
  }
  .section1 h3 {
    text-align: center;
    font-size: 4vw;
  }
}
